<header class="headerBox">
  <div class="header container d-flex justify-content-between">
    <a href="./index.html">
      <img class="headerLogo" src="../assets/images/logo-white.png" alt="logo">
    </a>
    <ul class="header-list d-flex hover-up">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="./shop-list.html">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="./faq.html">常見問題</a></li>
    </ul>
  </div>
</header>