//font
$font-eng : 'Roboto', sans-serif;

$font-size-base: 1rem;
$font-size-xxl: $font-size-base * 4; // 64px
$font-size-lg: $font-size-base * 3; //48px
$font-size-md: $font-size-base * 2.25; //36px
$font-size-sm: $font-size-base * 1.5; // 24px
$font-size-xs: $font-size-base * 1.25; //20px
$font-size-xxs: $font-size-base * 1.125; //18px


//color
$white: #FFFFFF;
$gray: #707070;
$black : #000000;
$warning: #fff000;
$primary : #AA0601;
$primary-light : #FBF2F2;
$primary-dark: #650300;
$primary-border : #9F1213;
$secondary : #DEE2E6;
$secondary-trans : #00000029;
$secondary-dark: #DEE2E6;
$card-border: #00000020;