//font
$font-eng : 'Roboto', sans-serif;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 3; //48px
$font-size-md: $font-size-base * 2.25; //36px
$font-size-sm: $font-size-base * 1.25; //20px


//color
$white: #FFFFFF;
$black : #000000;
$warning: #fff000;
$primary : #AA0601;
$primary-light : #FBF2F2;
$primary-dark: #650300;
$secondary : #DEE2E6;
$secondary-trans : #00000029;
$secondary-dark: #DEE2E6;